<div class="calendaria chat-release">
  <div class="release-header">
    <i class="fa-solid fa-calendar"></i>
    <strong>{{localize "CALENDARIA.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
      All current modules stay free!
    </p>

    <h4>New</h4>
    <ul>
      <li>Wind direction now uses meteorological convention</li>
      <li>Sun Dial closes when clicking outside it</li>
      <li>Disable Weather Effects setting for HUD/Sun Dial particles</li>
      <li>clearWeatherHistory() and addCalendar() APIs</li>
    </ul>

    <h4>Fixes</h4>
    <ul>
      <li>Weather Picker no longer re-rolls temperature on save</li>
      <li>Rain/fog/cloudy presets no longer tint scenes red</li>
      <li>Climate zone temperature and preset filtering fixes</li>
      <li>Initialization crash from null festival entries</li>
      <li>BigCal set-date button consistency</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "CALENDARIA.Release.ReleaseNotes"}}
  </a>
</div>
